<%- include('../partials/head.ejs') %>

<body class='container-fluid'>

    <div class="nav-banner">
        <div class="container">
            <h1>Ventory</h1>
            <p>A simplified inventory system</p>
            <a href="/add-item">Add new item</a>
        </div>
    </div>

    <div class="container table-wrapper">
        <% if(items && items.length){ %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Condition</th>
                        <th scope="col">Status</th>
                        <th scope="col">Shelf No.</th>
                        <th scope="col">Age</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let [index, item ] of items.entries()){ %>
                    <tr>
                        <th scope="row"><span class="badge badge-info"><%= index + 1 %></span></th>
                        <td><h6><a href="/show-item/<%= item.id %>" ><%= item.title %></a></h6></td>
                        <td><p><%= item.condition %></p></td>
                        <td><p><%= item.status %></p></td>
                        <td><small><%= item.location %></small></td>
                        <td><small><%= moment(item.entry_date).fromNow() %></small></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        <% }else{ %>
            <h4>Shelf is empty. No items to display</h4>
        <% } %>
    </div>

<%- include('../partials/foot.ejs') %>
